<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csc207.ertriage"
    android:versionCode="2"
    android:versionName="1.1">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.csc207.ertriage.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.csc207.ertriage.LogInActivity"
            android:parentActivityName="com.csc207.ertriage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csc207.ertriage.MainActivity"/>
        </activity>
        <activity
            android:name="com.csc207.ertriage.AddPatientActivity"
            android:label="@string/title_activity_add_patient"
            android:parentActivityName="com.csc207.ertriage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csc207.ertriage.MainActivity"/>
        </activity>
        <activity
            android:name="com.csc207.ertriage.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.csc207.ertriage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csc207.ertriage.MainActivity"/>
        </activity>
        <activity
            android:name="com.csc207.ertriage.PatientActivity"
            android:label="@string/title_activity_patient"
            android:parentActivityName="com.csc207.ertriage.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csc207.ertriage.MainActivity"/>
        </activity>
        <activity
            android:name="com.csc207.ertriage.VitalsActivity"
            android:label="@string/title_activity_vitals"
            android:parentActivityName="com.csc207.ertriage.PatientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csc207.ertriage.PatientActivity"/>
        </activity>
        <activity
            android:name="com.csc207.ertriage.SymptomsActivity"
            android:label="@string/title_activity_symptoms"
            android:parentActivityName="com.csc207.ertriage.PatientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csc207.ertriage.PatientActivity"/>
        </activity>
        <activity
            android:name="com.csc207.ertriage.PrescriptionActivity"
            android:label="@string/title_activity_prescription"
            android:parentActivityName="com.csc207.ertriage.PatientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csc207.ertriage.PatientActivity"/>
        </activity>
    </application>
</manifest>